<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add School Class</title>
</head>
<body>
    <h2>Add School Class</h2>
    <form th:action="@{/list/class/save}" method="post">
        <label for="name">クラス名:</label><br>
        <input type="text" id="name" name="name" required>組<br>
        <label for="grade">Grade:</label><br>
        <select id="grade" name="grade" required>
            <option value="FIRST">１年</option>
            <option value="SECOND">２年</option>
            <option value="THIRD">３年</option>
        </select><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
