<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>教師向けアプリ - </title>
	<link rel="stylesheet" href="/css/base.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
	<style>
	</style>
</head>

<body>
	<header>
		教師向けアプリ - 名簿
	</header>
	<div class="main">
		<div th:replace="fragments/nav :: nav_fragment"></div>
		<div class="container">
			<div class="card">
				<h1>クラス</h1>
				<table>
					<thead>
						<tr>
							<th>学年</th>
							<th>組</th>
							<th>アクション</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="schoolClass : ${schoolClasses}">
							<td th:text="${schoolClass.grade.getNumber()} + '年'"></td>
							<td th:text="${schoolClass.name} + '組'"></td>
							<td><a class="btn" th:href="@{/list/class/detail/{id}(id=${schoolClass.id})}">詳細へ</a></td>
						</tr>
					</tbody>
				</table>

				<a class="btn" th:href="@{/list/class/create}">クラスの新規作成</a>
			</div>
		</div>
	</div>

</body>

</html>