<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>教師向けアプリ - </title>
	<link rel="stylesheet" href="/css/base.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
	<style></style>
</head>

<body>
	<header>
		<h1 class="app_name">SmartEdu - 授業資料共有</h1>
		<div class="logo_box">
			<img th:src="@{/images/new_idea_icon.png}" width="30" height="30">
		</div>
	</header>
	<div class="main">
		<div th:replace="fragments/nav :: nav_fragment"></div>
		<div class="container">
			<div class="card">
				<h1>授業資料: <span th:text="${category}"></span></h1>
				<form th:action="@{/documents/addDocumentShare}" method="get">
					<button type="submit">項目の追加</button>
				</form>
				<form th:action="@{/documents/search}" method="get">
					<input type="text" name="category" placeholder="カテゴリー" />
					<button type="submit">検索</button>
				</form>
				<div th:each="document : ${documents}">
					<img th:src="@{${document.pdfFilePass}}" alt="Image for category" />
				</div>
			</div>
		</div>
	</div>
</body>

</html>