<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>編集の画面</title>
</head>
<body>
    <h1>編集の画面</h1>
    <form th:action="@{/Notice/update/{id}(id=${notice.id})}" th:object="${notice}" method="post">
        <label for="title">件名:</label>
        <input type="text" id="title" th:field="*{title}" /><br/>

        <label for="content">内容:</label>
        <textarea id="content" th:field="*{content}"></textarea><br/>

        <button type="submit">更新する</button>
    </form>
</body>
</html>
