<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>教師向けアプリ - </title>
	<link rel="stylesheet" href="/css/base.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">

	<style>

	</style>
</head>

<body>
	<header>
		教師向けアプリ - ホーム
	</header>
	<div class="main">
		<div th:replace="fragments/nav :: nav_fragment"></div>
		<div class="container">
			<div class="">
				<h1>学校からのお知らせ</h1>
			</div>
			<div class="notice" th:each="notice : ${notices}">
				<h2 th:text="${notice.title}"></h2>
				<p th:text="${notice.content}"></p>
				<p>作成日: <span th:text="${notice.createdAt}"></span></p>
				<p>最終更新: <span th:text="${notice.updatedAt}"></span></p>
			</div>
			<!--			<div class="notice">-->
			<!--				<h3>教員会議のお知らせ</h3>-->
			<!--				<p>6月15日（月）：定例教員会議（15:00～17:00）</p>-->
			<!--				<p>6月20日（土）：保護者会準備会議（14:00～16:00）</p>-->
			<!--			</div>-->
			<!--			<div class="notice">-->
			<!--				<h3>研修のご案内</h3>-->
			<!--				<p>7月1日（水）：ICT教育研修（10:00～12:00）</p>-->
			<!--				<p>7月10日（金）：生徒指導研修（13:00～16:00）</p>-->
			<!--			</div>-->
			<!--			<div class="notice">-->
			<!--				<h3>重要なお知らせ</h3>-->
			<!--				<p>新型コロナウイルス感染拡大防止のため、9月の校外学習は中止となりました。代替としてオンライン学習を実施予定です。</p>-->
			<!--			</div>-->
			<!--			<div class="notice">-->
			<!--				<h3>教員健康診断</h3>-->
			<!--				<p>8月5日（水）：教員健康診断（9:00～11:00）</p>-->
			<!--				<p>対象者には個別に詳細を連絡します。</p>-->
			<!--			</div>-->
			<!--			<div class="notice">-->
			<!--				<h3>クラブ活動指導</h3>-->
			<!--				<p>サッカー部：毎週火・木曜日（16:00～18:00）</p>-->
			<!--				<p>吹奏楽部：毎週月・金曜日（16:00～18:00）</p>-->
			<!--				<p>クラブ指導担当の先生は出欠確認をお願いします。</p>-->
			<!--			</div>-->
			<!--			<div class="notice">-->
			<!--				<h3>その他</h3>-->
			<!--				<p>今週の清掃担当：1年3組</p>-->
			<!--				<p>来週の行事：運動会準備（全学年参加）</p>-->
			<!--			</div>-->
			<div class="card">
				<h2>名簿</h2>
				<p>学生の情報を管理し、カテゴリ分けすることができます。</p>
			</div>
			<div class="card">
				<h2>授業資料共有</h2>
				<p>授業に必要な資料をアップロードして共有できます。</p>
			</div>
			<div class="card">
				<h2>テスト結果</h2>
				<p>テストの結果を入力し、一覧表示ができます。</p>
			</div>
			<div class="card">
				<h2>指導案や連絡プリント</h2>
				<p>指導案や連絡プリントのテンプレートを作成し、印刷できます。</p>
			</div>
		</div>
	</div>
	<script>
		function toggleMenu() {
			var sidebar = document.getElementById('sidebar');
			var menuIcon = document.getElementById('menu-icon');
			var closeIcon = document.getElementById('close-icon');
			sidebar.classList.toggle('active');
			if (sidebar.classList.contains('active')) {
				menuIcon.style.display = 'none';
				closeIcon.style.display = 'block';
			} else {
				menuIcon.style.display = 'block';
				closeIcon.style.display = 'none';
			}
		}
	</script>
</body>

</html>