<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>教師向けアプリ - </title>
	<link rel="stylesheet" href="/css/base.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
	<style>
		ul {
			list-style-type: none;
		}

		.btwn {
			margin-left: 14px;
		}

		.notice {
			margin-top: 18px;
		}
	</style>
</head>

<body>
	<header>
		<h1 class="app_name">SmartEdu - 連絡事項</h1>
		<div class="logo_box">
			<img th:src="@{/images/new_idea_icon.png}" width="30" height="30">
		</div>
	</header>
	<div class="main">
		<div th:replace="fragments/nav :: nav_fragment"></div>
		<div class="container">
			<div class="card">
				<h1>連絡事項</h1>
				<p>
					<a class="btn" href="/Notice/add">連絡事項追加</a>
				</p>

				<div class="notice" th:each="notice : ${allNotices}">
					<h2 th:text="${notice.title}"></h2>
					<p th:text="${notice.content}"></p>
					<p>作成日: <span th:text="${notice.createdAt}"></span></p>
					<p>編集日: <span th:text="${notice.updatedAt}"></span></p>
					<a class="btn" th:href="@{/Notice/edit/{id}(id=${notice.id})}">編集</a>
					<a class="btn" th:href="@{/Notice/delete/{id}(id=${notice.id})}">削除</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>